pipeline/pl_data_ingestion.json
{
	"name": "pl_data_ingestion",
	"properties": {
		"activities": [
			{
				"name": "act_lookup_file_names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_file_names_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_for_each",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_lookup_file_names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_lookup_file_names').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_copy_olympics_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_delete_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_olympic_files",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().sourceFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_gen_two",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().sourceFileName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "act_file_validation",
							"type": "Validation",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_gen_two",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().sourceFileName",
											"type": "Expression"
										}
									}
								},
								"timeout": "0.00:00:30",
								"sleep": 5
							}
						},
						{
							"name": "act_delete_file",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "act_file_validation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_gen_two",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().sourceFileName",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "olympic-data-pipelines"
		},
		"annotations": []
	}
}